.container {
  width: 100vw;
  height: 750px;
  margin: 0;
  background-image: url("../public/leaky-valve.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  margin: 0 auto;
  justify-content: center;
}
